:root{
    // --theme-primory-color:#153448;
    // --theme-primory-color:#3a3b3f;
    --theme-primory-color:#f8f8f8;
    --theme-secondbac:#f8f8f8;
    --theme-gray:#808080;
    --theme-gray-two:#80808037;
    --theme-white:#fff;
    --theme-black:#000;
}